# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Node
node_modules/
.svelte-kit/
build/
.env
.DS_Store

# Docker
.docker_data/


# Data Persistence (Local Lakehouse State)
data/minio/
data/postgres/
data/trino-catalog/
data/raw_datasets/